**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pth
**/*.pt
**/*.npy
**/*.dat
**/*.lock
**/*.bin
**/openai/*
**/*.gz
CN/results/*
CN/__pycache__/config.cpython-38.pyc
CN/__pycache__/share.cpython-38.pyc
CN/annotator/__pycache__/util.cpython-38.pyc
CN/annotator/ckpts/body_pose_model.pth
CN/annotator/openpose/__pycache__/__init__.cpython-38.pyc
CN/annotator/openpose/__pycache__/body.cpython-38.pyc
CN/annotator/openpose/__pycache__/hand.cpython-38.pyc
CN/annotator/openpose/__pycache__/model.cpython-38.pyc
CN/annotator/openpose/__pycache__/util.cpython-38.pyc
CN/cldm/__pycache__/ddim_hacked.cpython-38.pyc
CN/cldm/__pycache__/hack.cpython-38.pyc
CN/cldm/__pycache__/model.cpython-38.pyc
CN/cldm/arcface/model_ir_se50.pth
CN/cldm/arcface/__pycache__/model.cpython-38.pyc
CN/cldm/arcface/facial_recognition/__pycache__/__init__.cpython-38.pyc
CN/cldm/arcface/facial_recognition/__pycache__/helpers.cpython-38.pyc
CN/cldm/arcface/facial_recognition/__pycache__/model_irse.cpython-38.pyc
CN/cldm/clip/__pycache__/__init__.cpython-38.pyc
CN/cldm/clip/__pycache__/base_clip.cpython-38.pyc
CN/cldm/clip/clip/__pycache__/__init__.cpython-38.pyc
CN/cldm/clip/clip/__pycache__/clip.cpython-38.pyc
CN/cldm/clip/clip/__pycache__/model.cpython-38.pyc
CN/cldm/clip/clip/__pycache__/simple_tokenizer.cpython-38.pyc
CN/ldm/__pycache__/util.cpython-38.pyc
CN/ldm/modules/__pycache__/attention.cpython-38.pyc
CN/ldm/modules/diffusionmodules/__pycache__/__init__.cpython-38.pyc
CN/ldm/modules/diffusionmodules/__pycache__/util.cpython-38.pyc
CN/ldm/modules/encoders/__pycache__/__init__.cpython-38.pyc
CN/ldm/modules/encoders/__pycache__/modules.cpython-38.pyc
CN/models/control_sd15_openpose.pth
CN/models/control_sd15_scribble copy.pth
Face-GD/exps/logs/celeba/celeba_hq.ckpt
