**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pth
**/*.pt
**/*.npy
**/*.dat
**/*.lock
**/*.bin
**/openai/*
**/*.gz
CN/results/*
CN/__pycache__/config.cpython-38.pyc
CN/__pycache__/share.cpython-38.pyc
CN/annotator/__pycache__/util.cpython-38.pyc
CN/annotator/ckpts/body_pose_model.pth
CN/annotator/openpose/__pycache__/__init__.cpython-38.pyc
CN/annotator/openpose/__pycache__/body.cpython-38.pyc
CN/annotator/openpose/__pycache__/hand.cpython-38.pyc
CN/annotator/openpose/__pycache__/model.cpython-38.pyc
CN/annotator/openpose/__pycache__/util.cpython-38.pyc
CN/cldm/__pycache__/ddim_hacked.cpython-38.pyc
CN/cldm/__pycache__/hack.cpython-38.pyc
CN/cldm/__pycache__/model.cpython-38.pyc
CN/cldm/arcface/model_ir_se50.pth
CN/cldm/arcface/__pycache__/model.cpython-38.pyc
CN/cldm/arcface/facial_recognition/__pycache__/__init__.cpython-38.pyc
CN/cldm/arcface/facial_recognition/__pycache__/helpers.cpython-38.pyc
CN/cldm/arcface/facial_recognition/__pycache__/model_irse.cpython-38.pyc
CN/cldm/clip/__pycache__/__init__.cpython-38.pyc
CN/cldm/clip/__pycache__/base_clip.cpython-38.pyc
CN/cldm/clip/clip/__pycache__/__init__.cpython-38.pyc
CN/cldm/clip/clip/__pycache__/clip.cpython-38.pyc
CN/cldm/clip/clip/__pycache__/model.cpython-38.pyc
CN/cldm/clip/clip/__pycache__/simple_tokenizer.cpython-38.pyc
CN/ldm/__pycache__/util.cpython-38.pyc
CN/ldm/modules/__pycache__/attention.cpython-38.pyc
CN/ldm/modules/diffusionmodules/__pycache__/__init__.cpython-38.pyc
CN/ldm/modules/diffusionmodules/__pycache__/util.cpython-38.pyc
CN/ldm/modules/encoders/__pycache__/__init__.cpython-38.pyc
CN/ldm/modules/encoders/__pycache__/modules.cpython-38.pyc
CN/models/control_sd15_openpose.pth
CN/models/control_sd15_scribble copy.pth
Face-GD/exps/logs/celeba/celeba_hq.ckpt
Face-GD/functions/arcface/facial_recognition/__pycache__/__init__.cpython-38.pyc
Face-GD/functions/arcface/facial_recognition/__pycache__/helpers.cpython-38.pyc
Face-GD/functions/arcface/facial_recognition/__pycache__/model_irse.cpython-38.pyc
Face-GD/functions/clip/clip/__pycache__/__init__.cpython-38.pyc
Face-GD/functions/clip/clip/__pycache__/clip.cpython-38.pyc
Face-GD/functions/clip/clip/__pycache__/model.cpython-38.pyc
Face-GD/functions/clip/clip/__pycache__/simple_tokenizer.cpython-38.pyc
Face-GD/functions/landmark/common/__pycache__/__init__.cpython-38.pyc
Face-GD/functions/landmark/common/__pycache__/utils.cpython-38.pyc
Face-GD/functions/landmark/models/__pycache__/__init__.cpython-38.pyc
Face-GD/functions/landmark/models/__pycache__/basenet.cpython-38.pyc
Face-GD/functions/landmark/models/__pycache__/mobilefacenet.cpython-38.pyc
Face-GD/functions/landmark/Retinaface/__pycache__/Retinaface.cpython-38.pyc
Face-GD/functions/landmark/Retinaface/data/__pycache__/__init__.cpython-38.pyc
Face-GD/functions/landmark/Retinaface/data/__pycache__/config.cpython-38.pyc
Face-GD/functions/landmark/Retinaface/data/__pycache__/wider_face.cpython-38.pyc
Face-GD/functions/landmark/Retinaface/layers/__pycache__/__init__.cpython-38.pyc
Face-GD/functions/landmark/Retinaface/layers/functions/__pycache__/prior_box.cpython-38.pyc
Face-GD/functions/landmark/Retinaface/layers/modules/__pycache__/__init__.cpython-38.pyc
Face-GD/functions/landmark/Retinaface/models/__pycache__/__init__.cpython-38.pyc
Face-GD/functions/landmark/Retinaface/models/__pycache__/net.cpython-38.pyc
Face-GD/functions/landmark/Retinaface/models/__pycache__/retinaface.cpython-38.pyc
Face-GD/functions/landmark/Retinaface/utils/__pycache__/__init__.cpython-38.pyc
Face-GD/functions/landmark/Retinaface/utils/__pycache__/box_utils.cpython-38.pyc
Face-GD/functions/landmark/Retinaface/utils/nms/__pycache__/__init__.cpython-38.pyc
Face-GD/functions/landmark/Retinaface/utils/nms/__pycache__/py_cpu_nms.cpython-38.pyc
Face-GD/guided_diffusion/__pycache__/fp16_util.cpython-38.pyc
Face-GD/guided_diffusion/__pycache__/logger.cpython-38.pyc
Face-GD/guided_diffusion/__pycache__/nn.cpython-38.pyc
Face-GD/guided_diffusion/__pycache__/script_util.cpython-38.pyc
Face-GD/guided_diffusion/__pycache__/unet.cpython-38.pyc
Face-GD/models/__pycache__/diffusion.cpython-38.pyc
Face-GD/runners/__pycache__/__init__.cpython-38.pyc
Face-GD/runners/__pycache__/diffusion.cpython-38.pyc
SD_style/ldm/__pycache__/util.cpython-38.pyc
SD_style/ldm/models/__pycache__/autoencoder.cpython-38.pyc
SD_style/ldm/models/diffusion/__pycache__/__init__.cpython-38.pyc
SD_style/ldm/models/diffusion/__pycache__/ddim.cpython-38.pyc
SD_style/ldm/models/diffusion/__pycache__/ddpm.cpython-38.pyc
SD_style/ldm/models/diffusion/__pycache__/plms.cpython-38.pyc
SD_style/ldm/models/diffusion/clip/__pycache__/__init__.cpython-38.pyc
SD_style/ldm/models/diffusion/clip/__pycache__/base_clip.cpython-38.pyc
SD_style/ldm/models/diffusion/clip/clip/__pycache__/__init__.cpython-38.pyc
SD_style/ldm/models/diffusion/clip/clip/__pycache__/clip.cpython-38.pyc
SD_style/ldm/models/diffusion/clip/clip/__pycache__/model.cpython-38.pyc
SD_style/ldm/models/diffusion/clip/clip/__pycache__/simple_tokenizer.cpython-38.pyc
SD_style/ldm/models/diffusion/dpm_solver/__pycache__/__init__.cpython-38.pyc
SD_style/ldm/models/diffusion/dpm_solver/__pycache__/dpm_solver.cpython-38.pyc
SD_style/ldm/models/diffusion/dpm_solver/__pycache__/sampler.cpython-38.pyc
SD_style/ldm/modules/__pycache__/attention.cpython-38.pyc
SD_style/ldm/modules/__pycache__/ema.cpython-38.pyc
SD_style/ldm/modules/__pycache__/x_transformer.cpython-38.pyc
SD_style/ldm/modules/diffusionmodules/__pycache__/__init__.cpython-38.pyc
SD_style/ldm/modules/diffusionmodules/__pycache__/model.cpython-38.pyc
SD_style/ldm/modules/diffusionmodules/__pycache__/openaimodel.cpython-38.pyc
SD_style/ldm/modules/diffusionmodules/__pycache__/util.cpython-38.pyc
SD_style/ldm/modules/distributions/__pycache__/__init__.cpython-38.pyc
SD_style/ldm/modules/distributions/__pycache__/distributions.cpython-38.pyc
SD_style/ldm/modules/encoders/__pycache__/__init__.cpython-38.pyc
SD_style/ldm/modules/encoders/__pycache__/modules.cpython-38.pyc
SD_style/models/ldm/stable-diffusion-v1/sd-v1-4.ckpt
SD_style/intermediates/*.png
SD_style/ldm/models/diffusion/__pycache__/*.cpython-38.pyc
SD_style/content_cropped_img.png
SD_style/ref_cropped_img.png
CN/first_input_cropped_face_img.png
CN/first_ref_cropped_face_img.png
CN/second_input_cropped_face_img.png
CN/second_ref_cropped_face_img.png
CN/couple_magic.txt
Face-GD/clip_parse_id_magic.txt
Face-GD/clip_parse_id.txt
Face-GD/clip_parse_magic.txt
Face-GD/clip_parse.txt
Face-GD/id_land_magic.txt
Face-GD/id_land.txt
CN/results/*.png
Face-GD/content_cropped_face_img.png
Face-GD/ref_cropped_face_img.png
Face-GD/exp/image_samples/arc_land_ddim/*.png
Face-GD/exp/image_samples/arc_land_ddim_magic/*.png
Face-GD/exp/image_samples/clip_parse_face/*.png
Face-GD/exp/image_samples/clip_parse_face_magic/*.png
Face-GD/exp/image_samples/clip_parse_id_ddim/*.png
Face-GD/exp/image_samples/clip_parse_id_ddim_magic/*.png
